* {
  box-sizing: border-box;
}

body {
  background-color: #086064;
  color: #f9cf59;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}

/*title info*/

.headerTitle {
  display: flex;
  align-items: center;
}

.container {
  width: 114rem;
  margin: 0 auto;
}

.js-btn-restart {
  margin-left: 2rem;
  margin-top: 3rem;
  background-image: url(./images/update-arrow.png);
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #49bfb7;

  width: 10rem;
  height: 5rem;

  font-size: 2rem;

  outline: none;
  cursor: pointer;
  border: none;

  /* border: 6px solid #f9cf59; */
  border-radius: 4px;

  transition: 0.2s all ease;
}

.js-btn-restart:hover {
  -webkit-box-shadow: 8px 22px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 22px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 22px 28px 0px rgba(0, 0, 0, 0.75);
}

.h1_mainTitle {
  font-size: 4rem;
}

header {
  margin-top: 4rem;
}

.spanCurrentYear {
  display: block;
  width: 70%;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.currentsYears {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.countYearBtn {
  margin: 0.5rem;
  font-size: 1.9rem;
  color: #f9cf59;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.countYearBtn:hover {
  text-decoration: underline;
}

.navSpanQuestion {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.spanStrong {
  font-weight: 600;
}

.js-input-year {
  font-size: 2rem;
  padding: 1.5rem 1rem;
  background-color: #f9cf59;
  border: none;
  outline: none;
  cursor: pointer;
}

.navSubmit {
  margin-top: 2rem;
  background-color: #f9cf59;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  position: relative;
  cursor: pointer;
}

.js-input-year {
  -moz-appearance: textfield;
  color: #086064;
}

.js-input-year::-webkit-outer-spin-button,
.js-input-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.js-input-year::placeholder {
  color: #086064;
}

.js-submit-year {
  background-image: url(./images/calendar.png);
  background-repeat: no-repeat;
  justify-content: center;
  /* margin-top: 0.5rem; */
  background-size: 100%;
  background-color: #f9cf59;

  width: 5rem;
  height: 5rem;

  border: none;
  cursor: pointer;
}

.infoYearDaysConvert {
  font-size: 3rem;
  margin-bottom: 4rem;
}

.spanCurrentDateConvertDays {
  font-size: 2.7rem;
}

.spanStrongInfo {
  font-size: 3rem;
  color: #49bfb7;
}

.selectMonthBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.js-btn-selectMonth {
  display: block;
  width: 60%;
  padding: 1.5rem;
  margin: 3rem;

  font-size: 3rem;
}

:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.js-btn-selectMonth {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.js-btn-selectMonth::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.js-btn-selectMonth:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.js-btn-selectMonth:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.js-btn-selectMonth:active {
  transform: translate(0em, 0.75em);
}

button.js-btn-selectMonth:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
