* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}

button {
  outline: none;
  cursor: pointer;

  border: 2px solid rgb(0, 0, 0);
}

header {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 15vh;

  border-bottom: 0.2rem solid rgb(121, 121, 121);
}

.headerTitle {
  display: flex;
  align-items: center;

  margin-left: 7rem;
}

.h1_mainTitle {
  font-size: 3.5rem;
  margin-right: 1rem;
}

.spanStrong {
  font-size: 3rem;
  font-weight: 600;
}

.js-btn-restart {
  display: block;
  content: "";
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  background-image: url(./images/update-arrow.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: 80%;
  margin: 0 auto;
}

.navForm {
  margin-top: 4rem;
  min-height: 15rem;
  position: relative;
  margin-bottom: 4rem;
}

.navSpanQuestion {
  font-size: 2.3rem;
}

.navSubmit {
  margin-top: 1.5rem;

  display: flex;
  align-items: center;
}

.js-submit-year {
  padding: 1.5rem 2.3rem;
  font-size: 1.5rem;
  font-weight: 600;

  border-radius: 10px;

  outline: none;
  color: rgb(187, 187, 187);
  background-color: rgb(95, 95, 95);

  cursor: pointer;
}

.js-input-year {
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.js-submit-year::first-letter {
  text-transform: uppercase;
  /* disabled */
}

.enterTheCurrentYear {
  border-top: 0.2rem solid rgb(121, 121, 121);
}

.spanCurrentYear {
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.js-btn-year {
  background-color: transparent;
  margin: 0.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: #bfbfbf;
}

.js-btn-year:hover {
  text-decoration: underline;
}

.enterTheCurrentDays {
  border-top: 0.2rem solid rgb(121, 121, 121);
  margin-top: 4rem;
}

.js-input-year::-webkit-outer-spin-button,
.js-input-year::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.js-montn-btn {
  width: 70%;
  display: block;
  margin: 1rem auto;
  padding: 1.5rem 0;
  font-size: 3rem;
  background-color: rgb(179, 71, 71);
}

.js-montn-btn:hover {
  border: none;
  padding: 1.7rem 0;
}

.navSpanMonths {
  display: block;
  margin-top: 2rem;
}

.monthBlocks {
  margin: 3.5rem 0 3.5rem 0;
}

.spanWrongText {
  display: flex;
  align-items: center;
  position: absolute;
  top: 73%;
}

.spanWrongInput {
  font-size: 2rem;
}

.spanCurrentDateConvertDays {
  font-size: 2.5rem;
  width: 106%;
  display: block;
}

.dayChecker {
  font-size: 3rem;
}

.js-btn-next {
  display: block;
  margin: 0 auto;
}

.blockInfoDayDate {
  margin: 2rem auto;
  width: 80%;
}

.js-date-input {
  display: block;
  padding: 1rem;
  font-size: 2.5rem;
  margin: 2rem auto;
}

.js-btn-next {
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
  font-size: 4rem;
}

.spanComprassion {
  display: block;
  font-size: 2rem;
  width: 60%;
  margin-left: 1.5rem;
  margin-top: 3rem;
}

.spanAnimalsYears {
  display: block;

  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.yearsAnimal {
  margin-left: 4rem;
  font-size: 2rem;
}
